<p>Sửa sản phẩm</p>

{{product | json}}
<form (ngSubmit)="onEdit()">
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" [(ngModel)]="product.name" name="name" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="pwd">Price:</label>
        <input type="number" [(ngModel)]="product.price" name="price" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Img:</label>
        <input type="file" name="img" (change)="onFileChanged($event)" class="form-control" id="pwd">
        <h1>Ảnh Cũ: <img src={{product.img}} width="80" alt=""></h1>
      </div>
      
      <div class="form-group">
        <label for="pwd">Update:</label>
        <input type="text" [(ngModel)]="product.desc" name="desc" class="form-control" id="pwd">
      </div>
      <button class="btn btn-primary">Edit</button>

</form>